<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="reservasConnectionString" connectionString="server=mprojectserver.database.windows.net;database=reservas;uid=Mproject;pwd=projectM2016;Encrypt=yes"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
<appSettings>
<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
</configuration>
